{# <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark ">
	<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
		<a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
			<span class="fs-5 d-none d-sm-inline fw-bold">SGRS</span>
		</a>
		<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
			<li class="nav-item">
				<a href="{{ path('complaint.new') }}" class="nav-link align-middle px-0">
					<i class="fa-solid fa-bullhorn fs-4"></i>
					<span class="ms-1 d-none d-sm-inline">Submit new Complaint</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('complaint.index') }}" class="nav-link px-0 align-middle">
					<i class="fa-solid fa-eye fs-4"></i>
					<span class="ms-1 d-none d-sm-inline">Complaint sent</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('answer.index') }}" class="nav-link px-0 align-middle">
					<i class="fa-solid fa-square-check fs-4"></i>
					<span class="ms-1 d-none d-sm-inline">Response</span>
				</a>
			</li>


		</ul>
		<hr>

	</div>
</div> #}
{% if app.user %}
<nav class="side-navigation">
	<ul class="" id="">
		<li class="">
			<a href="{{ path('complaint.new') }}" class="nav_link">
				<i class="fa-solid fa-bullhorn fs-4"></i>
				<span>Submit new Complaint</span>
			</a>
		</li>
		<li class="">
			<a href="{{ path('complaint.index') }}" class="nav_link">
				<i class="fa-solid fa-eye fs-4"></i>
				<span>Complaint sent</span>
			</a>
		</li>
		<li class="">
			<a href="{{ path('answer.index') }}" class="nav_link">
				<i class="fa-solid fa-square-check fs-4"></i>
				<span>Response</span>
			</a>
		</li>


	</ul>
</nav>
{% endif %}
